/* FRONT END MENTOR STYLES */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    background-color: hsl(27, 66%, 92%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.budget-header {
    background-color: hsl(10, 79%, 65%);
    width: 40%;
    height: 10vh;
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
}

.budget-graph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 40%;
    height: 30vh;
    border-radius: 1rem;
    padding: 2rem;
}

.stats {
    display: flex;
    justify-content: space-between;
}